<!DOCTYPE html>

<html lang="en">
<head>

  <title>Customer Records</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>


<body>

  <nav class="navbar navbar-inverse" style="padding-bottom: 0px;">
    <div class="container-fluid" >
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Customer Records</a>
      </div>
  
      <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li class="active"><a href="customer_insert">Customer</a></li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">
          Hi {{ user.first_name }}      
          
          <span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
  
    </div>
  </nav>
  
    <div class="row">
    <div class="container-fluid" style="padding-top: 0%;background-color:orange;">
      <ul class="nav navbar-nav">
        <div class="navbar-header">
          <i class='fas fa-chalkboard-teacher' style='font-size:50px;color: black;'></i>
        </div>
        <li ><a href="customer_viewall">View All</a></li>
        <li ><a href="customer_viewsingle">View Single</a></li>
        <li ><a href="customer_insert">Insert</a></li>
        <li class="active" style="background-color: lightgrey;"><a href="customer_update">Update</a></li>
        <li><a href="customer_delete">Delete</a></li>
        </ul>
    </div>


    <div class="row" style="padding-top: 10px;">

      <div class="col-sm-1"></div>
      <div class="col-sm-4" style="background-color: lightgrey;height: 385px;">

        <form action="" method="POST">
          {% csrf_token %}
          <label for="validationTooltip01">Customer ID</label>
          <input type="text" style="background-color: lightyellow;width: 85%;" class="form-control" name="customerId" placeholder="customer ID" required>
          
          <label for="validationTooltip01" style="padding-top: 10px;">Address</label>
          <input type="text" style="background-color: lightyellow;width: 85%;" class="form-control" name="address" placeholder="Address">
          
          <label for="validationTooltip01" style="padding-top: 10px;">Mobile No</label>
          <input type="text" style="background-color: lightyellow;width: 85%;" class="form-control" name="mobileNo" placeholder="Mobile Number">
          
          <label for="validationTooltip01" style="padding-top: 10px;">Country</label>
          <input type="text" style="background-color: lightyellow;width: 85%;" class="form-control" name="country" placeholder="Country">
          
          <div style="padding-bottom: 10px;"></div>

          <button class="btn btn-primary" style="padding-top: 10px;" type="submit" value="Post">Update Record</button>
        </form>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-4" style="background-color: lightgrey;">
        <table class="table table-hover">             
          <tbody>
      
              <tr>
              <th scope="row">Customer ID</th>
              <td>{{ customer.customerId }}</td>
              </tr>

              <tr>
                <th scope="row">First Name</th>
                <td>{{ customer.firstName }}</td>
              </tr>
              
              <tr>
                <th scope="row">Last Name</th>
                <td>{{ customer.lastName }}</td>
              </tr>

              <tr>
                <th scope="row">Address</th>
                <td>{{ customer.address }}</td>
              </tr>

              <tr>
                <th scope="row">Mobile</th>
                <td>{{ customer.mobileNo }}</td>
              </tr>

              <tr>
                <th scope="row">Country</th>
                <td>{{ customer.country }}</td>
              </tr>

              <tr>
                <th scope="row">Email ID</th>
                <td>{{ customer.email }}</td>
              </tr>

              <tr>
                <th scope="row">Record Added</th>
                <td>{{ customer.recordAdded }}</td>
              </tr>

              <tr>
                <th scope="row">Record Last Modified</th>
                <td>{{ customer.recordModified }}</td>
              </tr>

          </tbody>
        </table>
      </div>

      <div class="col-sm-1"></div>
    </div>
 

</body>

<div class="footer" style="position: fixed;left: 0;bottom: 0;width:100%;background-color: grey;color: white;text-align: center;">
  <p>All Rights Reserved</p>

</html>

